<%- include('../partials/header') %>
<form  action="/flights/<%=flight._id%>/destinations" method="POST" class = "add-destination-flight input-form">
    <div>
    <label >Destination: </label>
    <select name="airport">
        <% airports.forEach(airport => { %>
            <%if(flight.airport !== airport){%>
                <option value="<%= airport %>"><%= airport %></option>
                <% }%> 
        <% }) %>
    </select>
    </div>
    <div>   
    <label >Arrival: </label>
    <input type="datetime-local" name="arrival" >
    </div>
    <button type="submit" >Submit</button>
</form>
<a href="/flights/<%=flight._id%>/tickets/new"><Button class="new-ticket-btn">New Ticket</Button></a>
<%if(nDestination.length){%>
<table>
    <thead>
        <tr>
            <th>Destination :</th>
            <th>Arrival :</th>
            
        </tr>
    </thead>
    <tbody>
        <% nDestination.forEach(destination => { %> 
            <tr>
                <td><%= destination.airport %></td>
                <td><%= destination.arrival %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%}%>
<br><br>
<%if(tickets.length){%>
<table>
    <thead>
        <tr>
            <th>Seat :</th>
            <th>Price :</th>
            
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(ticket => { %> 
            <tr>
                <td><%= ticket.seat %></td>
                <td><%= ticket.price %></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<%}%>

<%- include('../partials/footer') %>